.forgot-password-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6610f2;
    padding: 4rem;
}

.forgot-password-form {
    background-color: #ffffff;
    padding: 4rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-page .form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.forgot-password-page .form-control {
    width: 100%;
    padding: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
}

.forgot-password-page .forgot-button {
    background-color: #6610f2;
    color: #ffffff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.forgot-password-page .forgot-button:hover {
    background-color: #5b21b6;
}